.services{

  display: flex;
  justify-content: center;


}


.services .image-grid {


  display: grid;
  grid-template-areas: "a b b" "c c d";
  row-gap: 20px;
  column-gap: 20px;
width: 100%;
  margin-top: 50px;

  height: auto;


}

.services .image>img {
  width: 100%;
 height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 25px;
}
.services .a {
  grid-area: a;
}
.services .b {
  grid-area: b;
}
.services .c {
  grid-area: c;
}
.services .d {
  grid-area: d;
}



.services .image {
position: relative;

}



.services .image__overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.6);
color: #ffffff;
font-family: 'Quicksand', sans-serif;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
opacity: 0;
transition: opacity 0.25s;
}

.services .image__overlay--blur {
backdrop-filter: blur(5px);
}

.services .image__overlay--primary {
background: #242424;
 border-radius: 6%;
 transition-duration: .5s;
}

.services .image__overlay>* {
transform: translateY(20px);
transition: transform 0.25s;
}

.services .image__overlay:hover {
  opacity: 0.3;
}

.services .image__overlay:hover>* {
transform: translateY(0);
}

.services .image__title {
font-size: 2em;
font-weight: bold;
}

/* =============Responsiv======================== */

@media screen and (max-width: 1000px){


  .services .image-grid {


    grid-template-areas:
    "a d"
    "b b"
    "c c";
column-gap: 12px;
row-gap: 12px;
margin-top: 10px;
  
    height: auto;
  
  
  
  }
  
  .services .image>img {
    width: 100%;
   height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 15px;
  }

  .services .image__title {
    font-size: 1em;
    font-weight: bold;
    }
    

 }


